*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container-b{
     background-color:#1A0B2E;
      /* padding-bottom:10px; */
}
 /* navigation bar start */

nav{width: 85%;
    max-width:1200px;
    height:90px; 
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    border-bottom: 1px solid rgb(86, 85, 85);  
}


.menu{
    display: flex;
    list-style:none;
    gap:20px;  
 } 

 .text-white{
    color: #FFFFFF;
    font-size:35px;
    font-weight: bold; 
 }
 .text-gradient{
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
 }
.menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size:12px;
    font-weight: 200;
 }

 #ham{
   margin-right:20px;
   display: none;
 }

 .btn{
    height:44px;
    width:135px;
    background: linear-gradient(90deg, #FB09B4 51%, #9100F8 100%);
    border-radius:1000px;
    color: #FFFFFF;
    font-weight: 600;
    padding:12px, 40px,16px, 12px;
    border: none;
    align-items: center;
 }

 .btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #8f15e6 0%, #d32ca1 100%);
  transition-delay:0.3s;
 }

 /* navigation bar end */



 /* hero Part Start  */


 /* .hero-container{
    height:650px;
    background-image:url(./assets/hero-bg.png);
 }

 .hero-content .rounded{
    width:300px;
    height:300px;
}
/* .hero-content .mic{
    width:200px;
    height:200px;
 } */
 /* .hero-content span{
    width: 70px;
    height:40px;
    background-color:#00FF88;
    border-radius:1000px;
    font-weight: 600;
    color: black;
    font-size:12px;
    padding:6px 8px;
    display: inline-block;

 }

 .pin{
    height:15px;
    width:15px;
    padding:2px;
   
 } */
  /* start about section */
 .podcast-section{
    background-color:#1A0B2E;
    min-height:400px;
 }

 .podcast{
   margin: 0 auto;
   width: 60%;
    text-align: center;
    line-height: 25px;

    
 }
 .podcast h2{
    color: #FFFFFF;
    font-size:35px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 16px;
 }
 #alon{ 
   padding-bottom: 26px;
    padding-top:30px;
     border-bottom: 1px solid rgb(86, 85, 85);
 }
 .podcast p{
    color: #f2efef;
    font-size:12px; 
 }

.rating-box{
    display: flex;
    justify-content: center;
    gap:80px;
    padding-bottom:20px;
}

.rating-box h1{
    text-align: center;
    padding-top:80px;
    color:#00FF88;
    font-size:40px;
}
.rating-box p{
   color:#FFFFFF;
   font-size:12px; 
}
 /* end about section */


 /* start features-section */
 .deal{
    height:45px;
    width:45px;
    padding:10px;
 }

.features-section{
    background-color:#230E3D;
}

.section-header h2 {
   text-align: center;
   font-size:35px;
   font-weight: bold;
   color: #FFFFFF;
   padding-top:120px;
}

.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap:20px;
    padding:40px 200px;
    margin:0 auto;
    /* border: 3px solid gold; */
}
#item1{
   grid-row: span 2;
   /* border: 2px solid red; */
  
   /* height: 480px;
   width:380px; */
   
}
#item2, #item3{
   grid-column: span 2;
    
}
#item4{
   grid-column: span 2;
}


#item1, #item2, #item3, #item4, #item5{
   background-color:#351165;
   border-radius:18px;
   padding:30px;
   border: 3px solid transparent;
   animation: borderRotate 4s linear infinite;}

@keyframes borderRotate {
    0%, 100% {
      border-color: #6a5acd;}
    25% {
        border-color: #ff007f;}
        50% {
        border-color: #00ffff;}
        75% {
        border-color: #ff007f;}
      }

.features strong{
    color: #FFFFFF;
    font-weight: bold;
    font-size:20px;  
}

.features p{
  color: #FFFFFF;
  font-size:14px;
  font-weight: 400;
}
.icon{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding:10px;
   gap: 10px;
   align-items: flex-start;
}
/* end features-section */


/* Featured Episodes section start */

.episodes{
 background: #070b1a;
  padding: 60px 80px;
}

.episodes h2{
    text-align: center;
    color: #FFFFFF;
    font-size:35px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 40px;

}
.episode-grid{
   max-width:60%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   margin: 0 auto;

}

.episode-card{
   overflow: hidden;
   border-radius:20px;
   background: #351165;
   padding-bottom:30px;
   border: 3px solid transparent;
   animation: borderRotate 4s linear infinite;
}

.episode-card h3{
   color: #FFFFFF;
   font-size:18px;
   font-weight: 600;
   padding: 16px 18px 10px;
}

.episode-card p{
    color: #FFFFFF;
     font-size:13px;
     padding:0 18px;
}

.episode-card span{
   color: #00FF88;
   display: flex;
   align-items: center;
   gap:8px;
   padding:10px;
   font-size:16px;
}
iframe{
   width: 100%;
}
/* Featured Episodes section end */


/* Host  section start */

.host{
 background: #070b1a;
  padding: 90px 0;
}

.host-titel{
  text-align: center;
  color: #FFFFFF;
  font-size: 42px;
  font-weight:bold;
  margin-bottom: 45px;
}
.host-box img{
   padding:40px;
  
}

.host-box{
   margin: 0 auto;
    max-width:60%;
   display: flex;
   align-items: center;
   background: #351165;
   overflow: hidden;
   border-radius:20px;
   gap: 30px;
   border: 3px solid transparent;
   animation: borderRotate 4s linear infinite;
}

.host-info h3{
   color: #FFFFFF;
   font-size:20px;
   font-weight: 600;
   padding-bottom:13px ;
}
.host-info p{
   color: #FFFFFF;
   font-size:13px;
   line-height: 25px;
}

.host-social{
  display: flex;
  gap: 10px;
  margin-top:15px;
}
.host-social a{
   width:36px;
   height:36px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius:50%;
   border:1px solid transparent;
   background:
    linear-gradient(#351165,#351165) padding-box,
    linear-gradient(90deg,#ff00cc,#9d9a978d) border-box;
}
/* Host  section end */

/* footer section start */

 .footer-logo{
   text-align: center;
   font-size: 50px;
   font-weight: bolder;
    color: #FFFFFF;
}
 .footer-gradient{
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
 }

.footer-section{
   background-image: url(./assets/footer-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   padding-top:90px;
   padding-bottom:120px;
}

.footer-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:30px;
   padding-top:25px;
   flex-wrap: wrap;
   padding: 25px 30px;
  
}
.footer-icon a{
   display: flex;
   align-items: center;
   gap: 8px;
   text-decoration: none;
   color: rgba(251, 249, 249, 0.738);
   font-size: 13px;
}
.footer-icon  img{
   width:18px;
   height:18px;
}
.footer-copy{
 color: #847f7f;
 font-size: 16px;
 text-align: center;
 padding-top:70px;
}
/* footer section end */

 /* hero Part Start  */


 .hero-container{
   width: 100%;
    background-image:url(./assets/hero-bg.png);
 }
 .hero-content{


   text-align: center;
 }
 .hero-top{
   position: relative;
   display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-top:90px;
  padding-bottom:20px;
 }


 .badge{
   position: absolute;
   right: 32%;
   top: 27%;
   transform: translate(-135%, -40%);
   z-index:3;
   font-weight: 600;
   font-size:18px;
   background: #00FF88;
   padding: 8px;
   border-radius: 1000px;
 }






 .mic{
   position: absolute;
   z-index: 2;
   width: 110px;
   height: auto;
  left: 750px;
 }


 .hero-content p{
   align-items: center;
   color: rgb(173, 167, 167);
   font-size: 14px;
 }
 
 
 .pin {
   /* display: flex;
   justify-content: center;
   align-items: center; */
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
 .hero-buttons{
   display: flex;
   justify-content: center;
   gap:15px;
  padding: 30px;
 }
 .rounded{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 100px;
 }
 .sub-btn{
   color:#00FF88 ;
   font-size: 12px;
   font-weight: 600;
   background: transparent;
   border: 1.5px solid #00ffae;
 }
 .sub-btn:hover {
  background: rgba(43, 178, 136, 0.219);
  transform: translate;
}



